.root {
  -fx-font-size: 15pt;
  -fx-font-family: "Courier New";
  -fx-base: rgb(132, 145, 47);
  -fx-background: #C6F5F5;
}

.button {
  -fx-font-size: 12pt;
  -fx-text-fill: #000000;
  -fx-background-color: #CC0066;
}

.button:disabled {
  -fx-font-size: 12pt;
  -fx-text-fill: #000000;
  -fx-background-color: #767D7D;
}

.ChoiceBox {
  -fx-font-size: 12pt;
  -fx-text-fill: #000000;
  -fx-background-color: #767D7D;
}

.label {
  -fx-font-size: 15pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #006464;
  -fx-opacity: 0.6;
}

.text-field {
  -fx-font-size: 18pt;
  -fx-font-family: "Segoe UI Semibold";
}