.chart-series-line {
  -fx-stroke-width: 2px;
  -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #dddada; }
.default-color1.chart-series-line { -fx-stroke: limegreen; }
.default-color2.chart-series-line { -fx-stroke: red; }

.default-color0.chart-line-symbol { -fx-background-color: #dddada, white; }
.default-color1.chart-line-symbol { -fx-background-color: limegreen, white; }
.default-color2.chart-line-symbol { -fx-background-color: red, white; }


